@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding-bottom: 5px;
}

li {
    margin-right: 20px;
    list-style: none;
}

.nav-bar{
    display: flex;
    height: 50px;
    gap: 5px;
    background-color: black;
    align-items: center;
    justify-content: center
}

li a:hover{
    border-bottom: 2px solid white;
}

.img-back{
    object-fit: cover;
    height: 400px;
    width: 100%;
    display: block;
}

/* -----GRID LANDING PAGE------ */

.grid-container{
    display: grid;
    grid-template-areas: 
    "titleaboutme titleaboutme"
    "about-me-paragh img-about-me";
    background-color: rgb(37, 37, 37);
    color: white;
    padding-bottom: 70px;
}

.my-name-h1{
    grid-area: titleaboutme;
    text-align: left;
    margin-left: 1.5rem;
    margin-top: 15px;
    padding-bottom: 30px;
    letter-spacing: 8px;
    font-family: 'Roboto', sans-serif;
}

.img-about-me{
    grid-area: img-about-me;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
    width: 400px;
    border: 7px solid white;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 8px;
}

.about-me-paragh{
    grid-area: about-me-paragh;
    font-family: 'Roboto', sans-serif;
    font-size: 0.93rem;
    font-weight: 100;
    margin-left: 8px;

}

/* ----CURRICULUM QUALIFICATIONS---- */
